html {
    scroll-behavior: smooth;
}

::selection {
    background-color: #7D5BA6;
    color: #f1f1f1;
}

p {
    letter-spacing: 0.5px;
}

strong {
    font-weight: bold;
}

/* Estilização nav-bar */
header a {
    color: #f1f1f1;
    text-decoration: none;
    transition: 0.3;
}

header a:hover {    
    color: #06b2a9;
}

.logo {
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 700;
}

.logo:hover {
    color: #f1f1f1;
}

header {
    position: fixed;
    height: 8vh;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #643173;
    font-family: 'Poppins', sans-serif;
}

.menu {
    display: flex;
    gap: 8px;
}

.menu a {
    padding: 8px;
    letter-spacing: 3px;
    margin-left: 32px;
}

#btn-mobile {
    display: none;
}

/*Fim da Navbar*/


/* Conteudo da página */
main {
    height: 100vh;
    color: #1f1f1f;
}


.container {
    font-family: 'Noto Sans', sans-serif;
    padding-top: 14vh;
}



.apresentacao {
    width: 35vw;
    margin: auto;
    padding-bottom: 1%;
    height: fit-content;
    border: 2px solid;
    border-radius: 5px;
    background: #f5f5dc;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.apresentacao h1 {
    margin-top: 5%;
    text-align: center;
    font-size: 46px;
    font-weight: bolder;
    letter-spacing: 2px;
}

.apresentacao p {
    max-width: 80%;
    padding-top: 2%;
    margin: auto;
    font-size: 22px;
    text-align: center;
}

.setinha {
    display: block;
    position: relative;
    margin-top: 4%;
    padding: 2%;
}

.setinha img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 5%;
    cursor: pointer;

    animation: setinhaBaixo alternate 1s ease-in-out infinite;
}

hr {
    margin: 5%;
    border-top: 1px solid rgba(0, 0, 0, .30);
    border-left: none;
}


/* Conteudo explicando sobre oque é o tca */
.explicacao {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: 5%;
    text-align: center;
}

.explicacao h1 {
    width: fit-content;
    margin: auto;
    margin-bottom: 16px;
    padding-right: 5px;
    font-size: 36px;
    font-weight: bolder;
    letter-spacing: 2px;

    border-right: 2px solid rgba(0, 0, 0, 0.75);
    white-space: nowrap;
    overflow: hidden;
}

.explicacao p {
    text-align: left;
    max-width: 40vw;
    margin: auto;

    font-size: 22px;
    padding-top: 2%;
}

.explicacao img {
    margin-top: 5%;
    width: 80%;
}

.text-um h1 {
    animation: cursorPiscando 500ms steps(30) infinite normal,
    escrevendo-textUm steps(30) 4s 1s  normal both;
}

.text-dois h1 {
    animation: cursorPiscando 500ms steps(30) infinite normal,
    escrevendo-textDois steps(30) 4s 1s  normal both;
}

.text-dois a {
    display: block;
    margin: 5% auto 0 auto;
    width: fit-content;
}

/* Parte explicando sobre o trabalho */

.sobre {
    margin: 5%;
    font-weight: bolder;
    letter-spacing: 2px;
    text-align: center;
}

.sobre h1 {
    font-size: 48px;
    animation: esticando 1s alternate ease-in-out infinite;
}

.tema {
    max-width: 80vw;
    margin: auto;
}

.tema h2 {
    margin-bottom: 8px;
    font-size: 34px;
    font-weight: bolder;
}

.tema p {
    margin: auto;
    font-size: 22px;
    padding-top: 2%;
}

.tema ul {
    margin: 16px 5vw;
}

.tema li {
    list-style: circle;
    font-size: 18px;
    margin-top: 8px;
}



/*Animação da sentinha*/
@keyframes setinhaBaixo {
    0% {
        top: 0;
    }

    50% {
        top: 5px;
    }

    100% {
        top: 10px;
    }
}

/* Animaçâo de escrita */
@keyframes cursorPiscando {
    from {
        border-right-color: rgba(0, 0, 0, 0.75);
    }

    to {
        border-right-color: transparent;
    }
}

@keyframes escrevendo-textUm {
    from {
        width: 0;
    }

    to {
        width: 300px;
    }
}

@keyframes escrevendo-textDois {
    from {
        width: 0;
    }

    to {
        width: 450px;
    }
}

/* Animação de escrita para mobile */
@keyframes escrevendo-textUm-mobile {
    from {
        width: 0;
    }

    to {
        width: 210px;
    }
}

@keyframes escrevendo-textDois-mobile {
    from {
        width: 0;
    }

    to {
        width: 300px;
    }
}

/*Fim animação da Setinha*/

/* Animação do titulo esticando */
@keyframes esticando {
    0% {
        letter-spacing: 2px;
    }

    100% {
        letter-spacing: 4px;
    }
}
@media (max-width: 800px) {

    /* Navbar */

    #burger {
        margin-top: 0.5vh;
        display: block;
        border-top: 2px solid #f1f1f1;
        width: 20px;
    }
    #burger::after, #burger::before {
        content: '';
        display: block;
        position: relative;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        transition: transform 0.3s ease-in;
    }

    nav.active #burger {
        border-top: transparent;
    }

    nav.active #burger::before {
        transform: rotate(135deg);
    }

    nav.active #burger::after {
        transform: rotate(-135deg);
        top: -7px;
    }

    #btn-mobile {
        display: flex;
        padding: 8px 16px;
        font-size: 16px;
        background: none;
        border: none;
        cursor: pointer;
        color: #f1f1f1;
        font-family: 'Poppins', sans-serif;
        gap: 16px;
    }

    .menu {
        display: block;
        position: absolute;
        width: 100%;
        text-align: center;
        top: 8vh;
        right: 0;
        background: #7D5BA6;
        z-index: 100;
        
        transition: .3s ease-in;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;

    }

    nav.active .menu{
        height: 92vh;
        visibility: visible;
        overflow-y: auto;
    }

    .menu a {
        margin-left: 0px;
    }

    .menu li {
        padding: 5px;
        height: 5vh;
        margin: 15% 5% 0 5%;
        font-size: x-large;
        border-bottom: 2px solid rgba(0, 0, 0, .10);
    }

    .menu li:first-child{
        margin-top: 10%;
    }

    .logo {
        padding: 4px;
        font-size: 20px;
    }
    /*Fim da Navbar*/


    /* Conteudo da página */

    .container {
        padding-top: 10vh;
    }

    .apresentacao {
        width: 90%;
        padding-bottom: 5%;
    }

    .apresentacao h1 {
        font-size: 30px;
        padding-bottom: 15px;
    }

    .apresentacao p {
        max-width: 90%;
        font-size: 20px;
    }

    .setinha {
        display: none;
    }

    .setinha img {
        width: 15%;
    }

    .text-um, .text-dois {
        display: block;
        margin-left: 0;
    }

    .text-um p, .text-dois p {
        max-width: 90%;
        font-size: 20px;
        padding-bottom: 16px;
        padding-left: 16px;
    }
    
    .text-um img, .text-dois img {
        margin-top: 5%;
        width: 90%;
    }
    
    .text-um h1, .text-dois h1 {
        font-size: 24px;
    }

    .text-um h1 {
        animation: cursorPiscando 500ms steps(30) infinite normal,
        escrevendo-textUm-mobile steps(30) 4s 1s normal both;
    }

    .text-dois h1 {
        animation: cursorPiscando 500ms steps(30) infinite normal,
        escrevendo-textDois-mobile steps(30) 4s 1s normal both;
    }

    .text-dois a {
        font-size: 16px;

    }

    .sobre {
        margin: 10% 0;
    }

    .sobre h1 {
        font-size: 26px;
    }

    .tema {
        max-width: 100vw;
    }

    .tema h2 {
        margin-bottom: 4px;
        text-align: center;
        font-size: 22px;
    }

    .tema p {
        max-width: 90%;
        font-size: 20px;
        padding-bottom: 16px;
        padding-left: 16px;
    }

    .tema ul {
        margin-left: 15vw;
    }

    .tema li {
        font-size: 16px;
    }
}
