
::selection {
    background-color: #7D5BA6;
    color: #f1f1f1;
}

/* Estilização nav-bar */
header a {
    color: #f1f1f1;
    text-decoration: none;
    transition: 0.3;
}

header a:hover {    
    color: #06b2a9;
}

.logo {
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 700;
}

.logo:hover {
    color: #f1f1f1;
}

header {
    position: fixed;
    height: 8vh;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #643173;
    font-family: 'Poppins', sans-serif;
}

.menu {
    display: flex;
    gap: 8px;
}

.menu a {
    padding: 8px;
    letter-spacing: 3px;
    margin-left: 32px;
}

#btn-mobile {
    display: none;
}

/*Fim da Navbar*/


/* Conteudo da página */

main {
    height: 100vh;
    color: #1f1f1f;
}


.container {
    font-family: 'Noto Sans', sans-serif;
    padding-top: 14vh;
}

.apresentacao {
    width: 35vw;
    margin: auto;
    padding-bottom: 1%;
    height: fit-content;
    border: 2px solid;
    border-radius: 5px;
    background: #f5f5dc;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.apresentacao h1 {
    margin-top: 5%;
    text-align: center;
    font-size: 46px;
    font-weight: bolder;
    letter-spacing: 2px;
}

.apresentacao p {
    max-width: 80%;
    padding-top: 2%;
    margin: auto;
    font-size: 22px;
    text-align: center;
}

.setinha {
    display: block;
    position: relative;
    margin-top: 4%;
    padding: 2%;
}

.setinha img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 5%;
    cursor: pointer;

    animation: setinhaBaixo alternate 1s ease-in-out infinite;
}

hr {
    margin: 5%;
    border: 1px solid rgba(0, 0, 0, .30);
}

.text-um {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: 5%;
    text-align: center;
}

.text-um h2 {
    width: fit-content;
    margin: auto;
    margin-bottom: 16px;
    padding-right: 5px;
    font-size: 36px;
    font-weight: bolder;
    letter-spacing: 2px;

    border-right: 2px solid rgba(0, 0, 0, 0.75);
    white-space: nowrap;
    overflow: hidden;
    animation: cursorPiscando 500ms steps(30) infinite normal,
    escrevendo-Text-Um steps(30) 4s 1s normal both;
}

.text-um p {
    text-align: left;
    max-width: 40vw;
    margin: auto;
    font-size: 22px;
    padding-bottom: 12px;
}

.text-um img {
    margin-top: 5%;
    width: 80%;
}

/*Animação da sentinha*/
@keyframes setinhaBaixo {
    0% {
        top: 0;
    }

    50% {
        top: 5px;
    }

    100% {
        top: 10px;
    }
}

@keyframes cursorPiscando {
    from {
        border-right-color: rgba(0, 0, 0, 0.75);
    }

    to {
        border-right-color: transparent;
    }
}

@keyframes escrevendo-Text-Um {
    from {
        width: 0;
    }

    to {
        width: 300px;
    }
}

/*Fim animação da Setinha*/
@media (max-width: 800px) {

    /* Navbar */

    #burger {
        margin-top: 0.5vh;
        display: block;
        border-top: 2px solid #f1f1f1;
        width: 20px;
    }
    #burger::after, #burger::before {
        content: '';
        display: block;
        position: relative;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        transition: transform 0.3s ease-in;
    }

    nav.active #burger {
        border-top: transparent;
    }

    nav.active #burger::before {
        transform: rotate(135deg);
    }

    nav.active #burger::after {
        transform: rotate(-135deg);
        top: -7px;
    }

    #btn-mobile {
        display: flex;
        padding: 8px 16px;
        font-size: 16px;
        background: none;
        border: none;
        cursor: pointer;
        color: #f1f1f1;
        font-family: 'Poppins', sans-serif;
        gap: 16px;
    }

    .menu {
        display: block;
        position: absolute;
        width: 100%;
        text-align: center;
        top: 8vh;
        right: 0;
        background: #7D5BA6;
        z-index: 100;
        
        transition: .3s ease-in;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;

    }

    nav.active .menu{
        height: 92vh;
        visibility: visible;
        overflow-y: auto;
    }

    .menu a {
        margin-left: 0px;
    }

    .menu li {
        padding: 5px;
        height: 5vh;
        margin: 15% 5% 0 5%;
        font-size: x-large;
        border-bottom: 2px solid rgba(0, 0, 0, .10);
    }

    .menu li:first-child{
        margin-top: 10%;
    }

    .logo {
        padding: 4px;
        font-size: 20px;
    }
    /*Fim da Navbar*/


    /* Conteudo da página */

    .container {
        padding-top: 10vh;
    }

    .apresentacao {
        width: 90%;
        padding-bottom: 5%;
    }

    .apresentacao h1 {
        font-size: 34px;
    }

    .apresentacao p {
        max-width: 90%;
        font-size: 20px;
    }

    .setinha {
        margin-top: 10%;
        padding: 10%;
    }

    .setinha img {
        width: 15%;
    }

    .text-um {
        display: block;
        margin-left: 0;
    }

    .text-um p {
        max-width: 90%;
        font-size: 20px;
        padding-bottom: 16px;
        padding-left: 16px;
    }
    
    .text-um img {
        margin-top: 5%;
        width: 90%;
    }
}
